
@{
    ViewBag.Title = "NotAuth";
    Layout = "~/Areas/Profile/Views/Shared/_ProfileLayout.cshtml";
}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Not Authenticated
        </h1>
      
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow"> NotAuth</h2>
           
            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i> You are Not Authenticated to this Page.</h3>
                <p>
                    Try to contact with administrator. OR<br />
                    <a href="/Profile/Account/Login">Login with another Account..</a>

                </p>
            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>
    <!-- /.content -->
</div>
